$black_color: #000000;
$card_background_Color: #969090;
$dark_gray: #3b3b3b;
$footer_background_color: #1a1818;
$green_color: #00FF00;
$text_color: #db4437;
$white_color: #ffffff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url("../img/Books-Bg1.png");
  background-size: cover;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
  border-radius: 1px;
  height: 192px;
  width: 128;
}

h3 {
  color: $text_color;
  padding: 0 0 16px 0;
  text-align: center;
}

a {
  color: $dark_gray;
  text-decoration: underline;
  transition: 0.3s;
}

a:hover {
  color: $text_color;
}

button {
  align-items: center;
  display: flex;
  justify-content: center;
}

ul {
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-gap: 32px;
  height: 100%;
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
  text-align: center;
  width: 90%;
}

.custom-card {
  background-color: $card_background_Color;
  border-radius: 16px;
  padding: 16px;
}

.scroll-to-top {
  bottom: 8px;
  cursor: pointer;
  height: 50px;
  position: fixed;
  right: 8px;
  width: 50px;
}

.scroll-icon {
  align-items: center;
  background: $black_color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 100%;
  transform: rotate(-90deg);
  width: 100%;
}

.loading-card {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background-color: $white_color;
  margin: 10px;
  padding: 16px;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  .image {
    border-radius: 8px;
    height: 192px;
    margin: 0 auto;
    width: 128px;
  }

  .content {
    padding: 20px 30px;
  }
  .image
  {
    background-color: $white_color;
    background-size: 200% 100%;
    border-radius: 5px;
    margin: 8px auto;
  }
}

.loading-card:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.load-more {
  display: grid;
  margin-bottom: 50px;
  padding: 10px;
  place-items: center;
  width: 100%;
  button {
    background-color: $white_color;
    border: 1px solid $footer_background_color;
    border-radius: 8px;
    color: $black_color;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    transition: 0.5s ease-in-out;
    &:hover {
      background-color: $footer_background_color;
      color: $white_color;
    }
  }
}
footer {
  background: $footer_background_color;
  color: $white_color;
  padding: 16px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 16px 16px;
  }
  .container-articles {
    grid-template-columns: 16px;
  }
}
.overlay {
  background-color: $black_color;
  bottom: 0;
  left: 0;
  position: fixed;
  opacity: 0;
  right: 0;
  top: 0;
  transition: opacity 500ms;
  visibility: hidden;
  z-index: 1;
}
.modal-active {
  opacity: 1;
  visibility: visible;
}

.popup {
  background-color: $white_color;
  border-radius: 5px;
  margin: 70px auto;
  padding: 20px;
  position: relative;
  width: 40%;
  transition: all 0.52s ease-in-out;
}

.popup > h3 {
  color: $dark_gray;
  padding: 1em;
}
.popup > .close {
  position: absolute;
  top: 10px;
  right: 20px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: $dark_gray;
}
.popup > .close:hover {
  color: $green_color;
  cursor: pointer;
}

